src/flows/Chatter_Post_When_Delivery_Owner_Changed_And_Account_Name_Is_Not_10K_Advisors-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;Jared Miller&quot;,&quot;id&quot;:&quot;00536000002BzXMAA0&quot;}],&quot;message&quot;:&quot;Hi @[00536000002BzXMAA0] ,\n \nThe following Story has no Delivery Owner assigned, and needs your attention:\n\nStory Number: {![Story__c].Name}\nStory Name: {![Story__c].Story_Name__c}\nStatus: {![Story__c].Status__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Chatter Post</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Hi @[00536000002BzXMAA0] ,
 
The following Story has no Delivery Owner assigned, and needs your attention:

Story Number: {!myVariable_current.Name}
Story Name: {!myVariable_current.Story_Name__c}
Status: {!myVariable_current.Status__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Account Name Is Not 10K Advisors</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
    OR( 
        ISNEW(), 
	ISCHANGED( [Story__c].Delivery_Owner__c  ) 
    ),
    ISBLANK([Story__c].Delivery_Owner__c ),
    [Story__c].Project__c.Account__c.Name &lt;&gt; &apos;10K Advisors&apos;,
    ISCHANGED([Story__c].Status__c),
    ISPICKVAL([Story__c].Status__c, &quot;Ready for Work&quot;)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
    OR( 
        ISNEW(), 
	ISCHANGED( {!myVariable_current.Delivery_Owner__c}  ) 
    ),
    ISBLANK({!myVariable_current.Delivery_Owner__c} ),
    {!myVariable_current.Project__c.Account__c.Name} &lt;&gt; &apos;10K Advisors&apos;,
    ISCHANGED({!myVariable_current.Status__c}),
    ISPICKVAL({!myVariable_current.Status__c}, &quot;Ready for Work&quot;)
)</expression>
    </formulas>
    <interviewLabel>Chatter_Post_When_Delivery_Owner_Changed_And_Account_Name_Is_Not_10K_Advisors-2_Story__c</interviewLabel>
    <label>Chatter Post When Delivery Owner Changed And Account Name Is Not 10K Advisors</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Story__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
