src/flows/Notify_Becky_And_Jared_If_Falls_Outside_Agreement_Dates_On_Time_Entry_Is_True-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[{&quot;name&quot;:&quot;Diane Shotton&quot;,&quot;id&quot;:&quot;00536000004ALd9AAG&quot;},{&quot;name&quot;:&quot;Jared Miller&quot;,&quot;id&quot;:&quot;00536000002BzXMAA0&quot;}],&quot;message&quot;:&quot;@[00536000004ALd9AAG] and @[00536000002BzXMAA0] - This Time Entry falls outside the Agreement dates, and needs to be investigated.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Notify Diane &amp; Jared</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[00536000004ALd9AAG] and @[00536000002BzXMAA0] - This Time Entry falls outside the Agreement dates, and needs to be investigated.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check If Falls Outside Agreement Dates IS TRUE</label>
        </rules>
    </decisions>
    <description>Added Diane - removed Becky</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND( 
	OR( 
		ISNEW(), 
		ISCHANGED([Time_Entry__c].Assignment__c),
                ISCHANGED([Time_Entry__c].Date__c)
	), 	
        [Time_Entry__c].Falls_Outside_Agreement_Dates__c = TRUE
)

</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
	OR( 
		ISNEW(), 
		ISCHANGED({!myVariable_current.Assignment__c}),
                ISCHANGED({!myVariable_current.Date__c})
	), 	
        {!myVariable_current.Falls_Outside_Agreement_Dates__c} = TRUE
)</expression>
    </formulas>
    <interviewLabel>Notify_Becky_And_Jared_If_Falls_Outside_Agreement_Dates_On_Time_Entry_Is_True-2_InterviewLabel</interviewLabel>
    <label>Notify Diane And Jared If Falls Outside Agreement Dates On Time Entry Is True</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Time_Entry__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Time_Entry__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
